@page {
  margin: 0; }

body {
  font-size: 100%;
  font-family: "proxima-nova-alt", Arial,Helvetica,sans-serif;
  margin: 0;
  color: #000; }

* {
  box-sizing: border-box; }

.label {
  width: 2.25in;
  height: 1.25in;
  margin: 0;
  position: relative;
  overflow: hidden;
  page-break-after: always; }
  .label:last-child {
    page-break-after: auto; }
  .label article {
    padding: .01in .08in 0 .01in;
    overflow: hidden;
    height: 56pt; }
  .label h1 {
    margin: 0 0 .05in;
    text-align: center;
    font-weight: 400;
    font-size: .75em;
    text-transform: uppercase;
    position: relative;
    padding: 5px 5px 2px;
    border-bottom: 2px solid #000;
    background-color: #000;
    color: #fff; }
  .label .price {
    float: left;
    margin-right: .1in; }
    .label .price p {
      margin: 0;
      text-align: center;
      line-height: 1; }
      .label .price p.msrp {
        font-size: .7em; }
      .label .price p.saleprice {
        font-size: 1.1em;  /* default 2em; */
        line-height: 1;
        font-weight: 400; }
    .label .price sup {
      line-height: 1;
      top: auto; }
      .label .price sup.currency {
        font-weight: 400;
        font-size: .85em;  /* default   font-size: .55em; */
        margin: -2px 1px 0 0;
        vertical-align: top;
        display: inline-block; }
      .label .price sup.cents {
        font-weight: 600;
        font-size: .75em;  /* default  font-size: .45em; */
        margin: 0 0 0 3px; /* default   margin: -8px 0 0 3px;  */
        vertical-align: baseline; /* default  vertical-align: super; */
        border-bottom: 1px solid #000; /* default  border-bottom: 2px solid #000;   */
        }
      .label .price sup.cents::before {
        content: "."; }
  .label .description {
    font-size: 9pt;
    line-height: 1.2;
    margin: 0 0;
    overflow: hidden;
    font-weight: 500;
    word-wrap: break-word;
    text-overflow: ellipsis; }
  .label.notitle article {
    height: 56pt; }
  .label.notitle h1 {
    display: none; }
  .label .barcode {
    width: 100%;
    height: 0.4in;
    padding: .02in 0;
    text-align: center;
    z-index: 10; }
    .label .barcode img {
      margin: 0 auto;
      height: 0.4in; }
      .label .barcode img.ean8 {
        display: none; }
  .label.size200x100 {
    width: 2in;
    height: 1in; }
    .label.size200x100 .msrp {
      display: none; }
    .label.size200x100.notitle .msrp {
      display: block; }
    .label.size200x100 h1 {
      padding: 2px 1px 1px;
      border-bottom-width: 1px;
      font-size: .65em; }
    .label.size200x100 article {
      height: 40pt; }
  .label.size125x100 {
    width: 1.25in;
    height: 1in; }
    .label.size125x100 h1, .label.size125x100 .msrp {
      display: none; }
    .label.size125x100 .price {
      float: left;
      font-size: 7pt;
      margin: 2px 5px 0 0; }
      .label.size125x100 .price sup.currency {
        vertical-align: inherit;
        margin: 0;
        font-size: 1em; }
      .label.size125x100 .price sup.cents {
        margin: 0 0 0 2px;
        font-size: .6em;
        vertical-align: text-top; }
    .label.size125x100 article {
      height: 41pt;
      overflow: hidden; }
    .label.size125x100 .description {
      margin: 0;
      line-height: 1.1;
      overflow: visible; }
    .label.size125x100 .barcode img {
      width: 1.25in;
      height: 30px;
      margin: 0 0 0 -8px; }
      .label.size125x100 .barcode img.ean {
        display: none; }
      .label.size125x100 .barcode img.ean8 {
        display: block; }
  .label.size220x50 {
    width: 2.20in;
    height: .5in;
    position: relative; }
    .label.size220x50:not(:first-of-type) {
      margin-top: 1px;
    }
    .label.size220x50 h1, .label.size220x50 .msrp {
      display: none; }
    .label.size220x50 article {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 1in;
      height: auto;
      padding: 0;
      overflow: hidden; }
    .label.size220x50 .price {
      position: absolute;
      bottom: 6px;
      right: 0;
      font-size: 6pt;
      margin: 0; }
      .label.size220x50 .price sup.currency {
        vertical-align: inherit;
        margin: 0;
        font-size: 1em; } /* default 1em */
      .label.size220x50 .price sup.cents {
        margin: 0 0 0 2px;
        font-size: .6em; /* default .6em */
        vertical-align: text-top; }
    .label.size220x50 .description {
      position: absolute;
      top: 0;
      right: 0;
      width: .7in;
      font-size: 7.5pt;
      max-height: 2.2em;
      margin: 0;
      line-height: 1.1;
      overflow: hidden; }
    .label.size220x50 .barcode {
      position: absolute;
      width: .75in;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #fff;
      overflow: hidden; }
      .label.size220x50 .barcode img {
        position: absolute;
        left: -11px;
        top: 2px;
        width: 96px; }
        .label.size220x50 .barcode img.ean {
          display: none; }
        .label.size220x50 .barcode img.ean8 {
          display: block; }